<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>休日やること</h1>
    <ul>
        {{range .todo}}
        <li>
            {{.CreatedAt}} {{.Hito}} {{.Content}} 
            {{if eq .Status 0}}
                やってない
                <input type="submit" value="Done">
            {{else}}
                やった
                <input type="submit" value="戻す">
            {{end}}
        </li>
        {{end}}
    </ul>
</body>
</html>
